<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link rel="stylesheet" href="../templates/style copy.css">

    
</head>
<body>
    <div class="content-container">
        <h1 class="page">About Me</h1>
        <h2 class="page-intro">Oluwasegun Oyelola is my name, a Software Engineering Student at the prestigious ALX - Centre for Distinguished Tech Learning. Doing hard things with the aim of changing the world and having a positive dynamics on it.</h2>
    </div>
    <div class="background-iframe">
        <iframe src="https://img.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1203-5705.jpg?w=1400&t=st=1699544601~exp=1699545201~hmac=233fbbbaf9c4eaacad5cd1f134d0599a0165ffe1a55b9c9c6a6a5a961f7f6ca6" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe>
    </div>
    <div class="buttons">
        <a href="home.html" class="button button-home">Home Page</a>
        <a href="about_page.html" class="button button-about-page">About Page</a>
        <a href="about_me.html" class="button button-about-me">About Me</a>
    </div>

   
    <div class="page-intro-3">
        <h2>Me, In Brief!</h2>
        <p>Hello! I'm a dedicated and creative web developer passionate about crafting exceptional digital experiences. With a background in Software Engineering, I bring a unique perspective to web development, combining technical expertise with a keen eye for design. Open to learning new things as this is even my first project.</p>
    </div>
    <div class="page-intro-3a">
        <h2>My Skills and Expertise</h2>
        <p><b>Front-End Development:</b> I specialize in creating responsive and interactive user interfaces using HTML, CSS, and JavaScript.<br>
            <b>Back-End Development:</b> I have experience working with Weather Web-App Project, ensuring seamless functionality and data management.<br>
            <b>User Experience Design:</b> I focus on creating intuitive and delightful user experiences, keeping the end-users in mind throughout the development process.<br>
            <b>Collaboration:</b> I thrive in collaborative environments, enjoying teamwork and open communication to bring projects to successful completion.</p>
    </div>
    <div class="page-intro-3b">
        <h2>Let's Connect</h2>
        <p>I'm always excited to explore new opportunities and collaborate on innovative projects. If you're looking for a dedicated and passionate web developer, I'd love to hear from you! Feel free to get in touch or connect with me on LinkedIn to discuss how we can work together.<br>
            Thank you for visiting my Weather App Portfolio Project and learning more about me. I look forward to the possibility of working together and bringing your digital ideas to life!
        </p>
    </div>

    <div class="connect">Connect With Me</div>
    <div class="connects">
        <a href="https://www.twitter.com/0xdelifted" class="connect connects-twitter"><img src="images/x-logo.png" alt="Twitter Logo">X (Twitter) @0xdelifted</a>
        <a href="https://www.github.com/delifted" class="connect connects-github"><img src="images/github-logo.png" alt="GitHub Logo">Github @delifted</a>
        <a href="https://www.linkedin.com/in/0xdelifted" class="connect connects-linkedin"><img src="images/linked-in-logo.jpg" alt="LinkedIn Logo">LinkedIn @0xdelifted</a>
    </div>
    
<script src="../static/script.js"></script>


</body>
</html>
