<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link rel="stylesheet" href="../templates/style copy.css">

    
</head>
<body>
    <div class="content-container">
        <h1 class="page">About this Portfolio Project Page</h1>
    </div>
    <div class="buttons">
        <a href="home.html" class="button button-home">Home Page</a>
        <a href="about_page.html" class="button button-about-page">About Page</a>
        <a href="about_me.html" class="button button-about-me">About Me</a>

    </div>

    <div class="page-intro-2">
        <h2>Welcome to my Weather App Portfolio Project!</h2>
        <p>Hi there, I'm Oluwasegun Oyelola, a passionate web developer with a keen interest in creating intuitive and user-friendly applications. I developed this web-based weather app as a part of my portfolio to showcase my skills, creativity, and enthusiasm for providing valuable solutions through technology.</p>
    </div>
    <div class="page-intro-2a">
        <h2>Why A Weather App?</h2>
        <p>Weather apps have become an integral part of our daily lives. They help us plan our activities, stay prepared for different weather conditions, and make informed decisions. Building a weather app allowed me to delve into real-time data integration, user experience design, and responsive web development.</p>
    </div>
    <div class="page-intro-2b">
        <h2>What Sets this Weather App Apart?</h2>
        <p>Accurate Weather Information: This app provides up-to-date and accurate weather information for any location worldwide, helping users stay informed about current weather conditions.<br><br>Intuitive User Interface: I designed the app with a user-friendly interface, ensuring that users can easily navigate and access weather data without any hassle.
            <br><br>Responsive Design: Whether you're using a desktop, tablet, or smartphone, the app adapts seamlessly to different screen sizes, providing a consistent experience across devices.
    </div>

    <div class="connect">Connect With Me</div>
    <div class="connects">
        <a href="https://www.twitter.com/0xdelifted" class="connect connects-twitter"><img src="images/x-logo.png" alt="Twitter Logo">X (Twitter) @0xdelifted</a>
        <a href="https://www.github.com/delifted" class="connect connects-github"><img src="images/github-logo.png" alt="GitHub Logo">Github @delifted</a>
        <a href="https://www.linkedin.com/in/0xdelifted" class="connect connects-linkedin"><img src="images/linked-in-logo.jpg" alt="LinkedIn Logo">LinkedIn @0xdelifted</a>
    </div>
    
    <div class="background-iframe">
        <iframe src="https://img.freepik.com/free-photo/field-yellow-flowers-with-hills-cloudy-sky_181624-14655.jpg?w=1380&t=st=1699545268~exp=1699545868~hmac=600f138e02cdc9055fa285d7eda20f00c59c329ad4a6162d3b5a5e54d5988d8c" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe>
    </div>
    
<script src="../static/script.js"></script>


</body>
</html>
