<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../templates/style copy.css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.theme.css"-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.js"></script>


</head>
<body>
    <div class="content-container">
        <h1 class="page">Welcome to my Portfolio Project Page</h1>
        <h2 class="page-intro">This web-based portfolio project returns the atmospheric condition of a given geographical 
            location at a time. <br>Many thanks to ALX for the opportunity to learn, it's never taken for granted.</h2>

    </div>
    <div class="buttons">
        <a href="home.html" class="button button-home">Home Page</a>
        <a href="about_page.html" class="button button-about-page">About Page</a>
        <a href="about_me.html" class="button button-about-me">About Me</a>

    </div>
    
    <div class="background-iframe">
        <iframe src="https://gifer.com/embed/GUi" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe>
    </div>
    <div class="card">
        <div class="search">
            <input type="text" id="city-input" placeholder="Enter city name" spellcheck="false">
            <button><img src="../static/images/search.png"></button>
        </div>
        <div class="error">
            <p>invalid city name</p>
        </div>
        <div class="weather">
            <img src="../static/images/rain.png" class="weather-icon">
            <h1 class="temp">22°c</h1>
            <h2 class="city">Iperu</h2>
            <h3 class="country">NG</h3>
            <div class="details">
                <div class="col">
                    <img src="../static/images/humidity.png">
                    <div>
                        <p class="humidity">50%</p>
                        <p>Humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src="../static/images/wind.png">
                    <div>
                        <p class="wind">15 km/h</p>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
<script src="../static/script.js"></script>


</body>
</html>
